:root {
  --clr-primary-300: #fff;
  --clr-primary-500: #333;
  --clr--primary-400: #7d7789;
  --clr--secondary-bg: #f4f9f9;
  --clr--header--bg: #171717;
  --clr--accent--lns: #ff0075;
  --clr--accent--secondary--lns: #e8b563;
  --clr--primary--btns: #f1773b;

  --sha--primary--blk: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  --ff--primary: "Poppins", sans-serif;
  --ff--accent: "Gugi", monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: var(--ff--primary);
  color: var(--clr--primary-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--ff--primary);
  color: var(--clr-primary-500);
  font-weight: 700;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**************************
 * PAGE LOADING ANIMATION *
 **************************/
.m-intro,
.about-page,
.skill-page,
.contact-page,
.project-page,
.home-page {
  animation: slideUp 0.7s ease-in-out;
}

/**********
 * LAYOUT *
 **********/

.page-container {
  max-width: 2600px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 850px;
}

.border-left {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 70px;
  background-color: #fff;
  z-index: 10;
}

.border-right {
  position: fixed;
  display: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 70px;
  background-color: #fff;
  z-index: 10;
}

.main-content {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  top: 70px;
  background-color: var(--clr--secondary-bg);
  overflow: hidden;
}

.main-content.open {
  filter: blur(3px);
}

.about-page,
.contact-page,
.skill-page,
.project-page,
.home-page {
  padding: 10px 5% 5% 5%;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  top: 0;
  max-height: calc(100vh - 120px);
  overflow-y: scroll;
}



.home-page {
  padding: unset !important;
}

.page-title,
.education-title {
  display: flex;
  align-items: center;
  position: relative;
  margin: 55px 0;
}

.page-title::after,
.education-title::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--clr-primary-500);
  margin: 0 5px;
  position: relative;
}

.page-title h3,
.education-title h3 {
  width: fit-content;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4px;
  white-space: nowrap;
}

.home-image {
  width: 847px;
  align-items: center;
}

.profile-card img {
  height: 246px;
  width: 329px;
  z-index: 1;
  object-fit: contain;
}

.home-image img {
  width: 832px;
  height: 96% !important;
}

.side-container {
  display: none;
  position: relative;
  left: 0;
  width: 40%;
  max-width: 715px;
  background-color: #171717;
  align-items: center;
  justify-content: center;
}

.profile-card {
  width: 95%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.profile-card .top {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.profile-card .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-card .frame {
  z-index: 1;
  width: 350px;
  height: 267px;
  margin-bottom: 201px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: var(--clr--accent--secondary--lns);
  box-shadow: var(--sha--primary--blk);
}

.profile-card .bottom {
  height: 60%;
  position: absolute;
  width: 100%;
  background-color: var(--clr--header--bg);
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.card-info {
  width: 322px;
  background-color: var(--clr-primary-300);
  text-align: center;
  height: 120px;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: var(--sha--primary--blk);
  position: relative;
  margin-top: 20px;
}

.profile-card .card-info h3 {
  color: var(--clr--header--bg);
  font-size: 30px;
}

/* Headers */

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 2;
  background-color: #fff;
  justify-content: space-between;
  display: flex;
}

/* Desktop Header */

.header {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

.header .menu-container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-container ul li {
  display: inline-block;
  text-align: center;
  width: fit-content;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: var(--clr-primary-300);
  padding: 0 30px;
  color: var(--clr-primary-500);
}

.header .hover-block {
  height: 3px;
  position: absolute;
  background-color: var(--clr--accent--lns);
  display: block;
  bottom: 15px;
  transition: all 0.5s ease;
}

.menu-container ul .active,
.menu-container ul li:hover {
  color: var(--clr--accent--lns);
}

/* Mobile Header */

.mobile-header-container {
  width: 100%;
  z-index: 22;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: var(--clr-primary-300);
}

.header-container .m-logo {
  font-family: var(--ff--accent);
  z-index: 3;
  font-size: 0.85rem;
  border-radius: 5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-logo h1,
.header .logo h1 {
  color: var(--clr-primary-500);
  font-family: var(--ff--accent);
}
/* Mobile Header */
.mobile-header-container .header-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  clear: both;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Hamburger Button */

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: all 0.5s ease-in-out;
}

.menu-btn .inner-left,
.menu-btn .inner-right {
  width: 15px;
  height: 2px;
  background-color: var(--clr-primary-500);
  transition: all 0.5s ease-in-out;
  display: inline-block;
}

.menu-btn::before,
.menu-btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s ease-in-out;
}

.menu-btn::before {
  transform: translateY(-10px);
}
.menu-btn::after {
  transform: translateY(10px);
}

.menu-btn.active .inner-left {
  transform: translateX(-15px);
  background: transparent;
}

.menu-btn.active .inner-right {
  transform: translateX(15px);
  background: transparent;
}

.menu-btn.active::before {
  transform: rotate(45deg);
}

.menu-btn.active::after {
  transform: rotate(-45deg);
}

/* Mobile Menu */

.mobile__menu-container.open {
  top: 64px;
  height: auto;
  overflow-y: scroll;
}

.mobile__menu-container {
  position: fixed;
  display: flex;
  min-height: 500px;
  z-index: -2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: -250vh;
  height: 0;
  width: 100vw;
  overflow: hidden;
  padding-bottom: 5rem;
  transition: all 0.7s ease-in-out;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 5px 5px;
  /* background-color: #222222; */
}

.m__menu-items {
  display: block;
}

.m__menu-items ul {
  list-style: none;
  display: block;
  text-align: center;
  color: var(--clr-primary-300);
  line-height: 2.5;
  cursor: pointer;
}

.m__menu-items ul li:hover {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-500);
  width: 100px;
}

.socials ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials ul li {
  color: var(--clr-primary-300);
  display: inline-block;
  padding-right: 0.5rem;
}

.linkedin-icon,
.github-icon {
  color: var(--clr-primary-300);
  width: 40px;
  height: auto;
}

.mobile__menu-container .socials {
  margin: 25px 0;
}

.mobile__menu-container .copyright {
  background-color: var(--clr-primary-300);
  width: 180px;
  text-align: center;
  border-radius: 5px;
}

/**********
 * FOOTER *
 **********/

.footer-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 70px;
  left: 70px;
  background-color: var(--clr-primary-300-);
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 22;
}

.footer-container .wrapper {
  display: flex;
  position: relative;
  justify-items: center;
  align-items: center;
}

.footer-container .wrapper .inner {
  display: inline-block;
  margin-left: 15px;
  margin-right: 25px;
  height: 35px;
  width: 3px;
  background-color: var(--clr--accent--lns);
}

.footer-container .socials {
  display: inline-block;
  margin-top: 10px;
}

.footer-container .copyright {
  display: inline-block;
  margin: auto 0;
}

/* Home Page */

.m__side-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--clr--secondary-bg);
}

.m__side-container .profile-card {
  min-height: 600px;
  height: 100%;
}

.m__side-container .profile-card .top {
  height: 40%;
}
.m__side-container .profile-card .bottom {
  height: 60%;
}

.bg-container {
  display: none;
  background-color: var(--clr--header--bg);
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
}

.bg-container img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.m-intro {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.intro-container {
  position: absolute;
  width: 300px;
  height: 130px;
  background-color: var(--clr-primary-300);
  padding: 10px;
  top: 50%;
  left: 0;
  box-shadow: var(--sha--primary--blk);
}

.intro-container h3 {
  font-size: 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 1.7;
  color: var(--clr-primary-500);
}

.intro-container .line {
  height: 3px;
  width: 45px;
  background-color: var(--clr--accent--lns);
  margin-bottom: 10px;
  display: inline-block;
}

/* .box-shadow {
  position: absolute;
  left: 55px;
  right: 7px;
  bottom: 55px;
  top: 55px;
}

.home-image .shadows .first-inner {
  transform: skewY(-45deg);
  position: absolute;
  width: 650px;
  left: -1px;
  top: 300px;
}

.home-image .shadows .first-inner,
.home-image .shadows .second-inner {
  display: block;
  height: 30px;
  background-color: var(--clr--secondary-bg);
  z-index: 2;
  position: absolute;
}

.home-image .shadows .second-inner {
  transform: skewY(-45deg);
  width: 650px;
  pointer-events: none;
  right: -1px;
  bottom: 300px;
}

.home-image .shadows::before {
  content: "";
  z-index: 0;
  display: block;
  position: absolute;
  right: 2px;
  border-right: 574px solid #555;
  border-left: 0px solid transparent;
  border-top: 574px solid transparent;
  filter: blur(2px);
  opacity: 0.7;

  bottom: 16px;
  right: 6px;
}

.home-image .shadows .first-inner::before,
.home-image .shadows .second-inner::before {
  content: "";
  height: 0;
  display: block;
  filter: blur(2px);
  opacity: 0.7;
  pointer-events: none;
}

.home-image .shadows .first-inner::before {
  width: 607px;
  border-bottom: 15px solid #555;
  border-left: 0px solid transparent;
  border-right: 15.85px solid transparent;
  margin-left: 5px;
  pointer-events: none;
}

.home-image .shadows .second-inner::before {
  width: 610px;
  border-top: 14px solid #555;
  border-left: 14px solid transparent;
  border-right: 00px solid transparent;
  margin-left: 23px;
  pointer-events: none;
} */

/* About Section*/

.about-section .summary p {
  margin-bottom: 15px;
}

.about-section .education .timeline {
  position: relative;
}

.about-section .uni-list {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  height: auto;
}
.uni-list ul {
  margin: 0;
  list-style-type: none;
  position: relative;
  display: inline-block;
}

.uni-list ul li {
  margin: 0;
  width: 100%;
  float: left;
  position: relative;
  padding-left: 20px;
  padding-bottom: 45px;
}
.uni-list ul li:last-child {
  padding-bottom: 0;
}
.about-section .uni-list ul::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.07);
}

.uni-list ul li::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background: #f6fbff;
  border-radius: 100%;
  border: solid 1px #ccc;
  left: -9px;
  top: 8px;
}

.about-section .timeline .list-inner {
  display: flex;
  width: 100%;
}

.about-section .uni-list .date {
  display: inline-block;
  width: 40%;
  padding-right: 20px;
}
.uni-list .date span {
  display: inline-block;
  padding: 5px 12px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  font-size: 14px;
  white-space: nowrap;
}

.about-section .uni-list .school {
  display: inline-block;
  max-width: 60%;
}

.about-section .uni-list .school h3 {
  font-weight: 600;
  font-size: 16px;
}
.about-section .uni-list .school span {
  font-size: 14px;
}

/* Skills Section */

.skill-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.skills-carousel {
  position: relative;
  display: flex;
  align-items: center;
  transform: translateX(-96px);
  transition: 1s;
  -webkit-transition: all 1s ease;
}

.skill-title {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 75px;
}
.skill-title::before,
.skill-title::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--clr-primary-500);
  margin: 0 5px;
  position: relative;
}

.skills-carousel .card {
  height: 20rem;
  width: 12rem;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--clr-primary-300);
  box-shadow: var(--sha--primary--blk);
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s;
  -webkit-transition: 1;
}

.skills-carousel .card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.skills-carousel .card.prev,
.skills-carousel .card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
  -webkit-transition: 1s;
}

.skills-carousel .skill-image,
.card-container .skill-image {
  width: 100%;
  height: 70%;
  position: relative;
}

.skill-page .card-container {
  display: none;
}

.skill-page img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card .inner {
  width: 100%;
  height: 30%;
  bottom: 0%;
  font-size: 30px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  color: var(--clr-primary-500);
  border-top-color: var(--clr-primary-300);
}

.inner .skill-name {
  margin: auto;
}

.card .skill-image.js {
  background-color: #bce6eb;
}
.card .skill-image.html {
  background-color: #fc7e2f;
}
.card .skill-image.css {
  background-color: #76e3ff;
}
.card .skill-image.react {
  background-color: #2c394b;
}
.card .skill-image.nodejs {
  background-color: #519259;
}
.card .skill-image.mongo {
  background-color: #ccf6c8;
}

/*****************
 * PROJECTS PAGE *
 *****************/

.project-page .message {
  margin: auto;
}

/****************
 * CONTACT PAGE *
 ****************/

.contact-card {
  position: relative;
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 320px;
  height: 550px;
  min-height: 550px;
  overflow: hidden;
  border: 0;
  margin-bottom: 45px;
  animation: fadeIn 0.9s ease-in;
  box-shadow: var(--sha--primary--blk);
}

.contact-card .top {
  height: 350px;
  width: 100%;
  background-color: #000000;
  position: relative;
  overflow: hidden;
  display: block;
}

.contact-card .background{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  
}

.contact-card .logo {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-card .bottom {
  display: flex;
  position: absolute;
  width: 100%;
  height: 198px;
  background-color: var(--clr-primary-300);
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom .text {
  background-color: black;
  width: 200px;
  height: 75px;
  box-shadow: var(--sha--primary--blk);
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-card .bottom .socials .linkedin-icon,
.contact-card .bottom .socials .github-icon {
  color: var(--clr-primary-500);
}

.bottom .message-btn,
.card-info .connect-btn {
  margin-top: 15px;
  display: block;
  background: var(--clr--primary--btns);
  padding: 1em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
  font-family: var(--ff--primary);
}

.contact-page .form-container {
  background-color: #fff;
  box-shadow: var(--sha--primary--blk);
  position: relative;
  animation: slideUp 0.7s ease-in;
}

.contact-form {
  border-radius: 0 0 5px 5px;
  border-top: none;
  background: #fff;
  position: relative;
}

.contact-form::before {
  content: "";
  width: 100%;
  height: 60px;
  display: block;
  padding: 1em;
  text-align: center;
  position: relative;
  background-color: #333;
}

.contact-form li {
  position: relative;
}

.contact-form ul li:not(:last-child) {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.contact-form ul li input,
.contact-form textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 2.25em 1em 1em;
  font-size: 1.2em;
  font-family: var(--ff--primary);
}

.contact-form textarea {
  height: 12em;
  resize: none;
  font-size: 1.2em;
  font-family: verdana;
  padding-left: 0.85em;
}

.contact-form label {
  display: block;
  font-size: 0.8125em; /* 13/16 */
  position: absolute;
  z-index: 1;
  top: 1.6em;
  left: 1.4em;
  color: #f1773b;
  transition: top 0.4s ease, opacity 0.6s ease, color 0.4s ease;
}

.contact-form input[type="submit"] {
  display: block;
  background: #f1773b;
  padding: 1em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  width: 100%;
  font-size: 1.2em;
  font-family: var(--ff--primary);
  bottom: 0;
}

.form-container .send-alert {
  position: absolute;
  height: 5em;
  text-align: center;
  color: var(--clr-primary-300);
  background-color: var(--clr-primary-500);
  left: 150%;
  top: 40%;
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.form-container .send-alert.active {
  transition: transform 1.5s;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: slideIn 0.7s ease-in;
}

.contact-form.inactive {
  opacity: 0.2;
}

@keyframes slideIn {
  0% {
    transform: translateX(-1500px);
  }
}

@media screen and (min-width: 1044px) {
  .border-left,
  .border-right {
    display: block;
  }
  .mobile-header-container {
    display: none;
  }

  .header {
    display: flex;
  }
  .header-container {
    left: 70px;
    right: 70px;
  }

  .page-container {
    min-height: 927px;
    bottom: 0;
    top: 0;
  }

  .main-content {
    position: absolute;
    width: auto;
    top: 70px;
    bottom: 70px;
    left: 70px;
    right: 70px;
  }

  .m__side-container {
    display: none;
  }

  .side-container {
    min-width: 600px;
    display: flex;
  }

  .side-container .profile-card {
    width: 90%;
    height: 95%;
    min-width: 445px;
  }

  .side-container .profile-card .top {
    width: 90%;
    height: 50%;
  }

  .side-container .profile-card .bottom {
    background-color: var(--clr-primary-300);
    height: 50%;
  }

  .side-container .card-info {
    background-color: #000000;
    min-height: 125px;
    max-height: 150px;
    height: 33%;
    margin-top: 124px;
  }

  .side-container .profile-card .frame {
    width: 400px;
    height: 300px;
    margin-bottom: unset;
  }

  .side-container .frame img {
    height: 272px;
    width: 372px;
    object-position: 75%;
  }

  .side-container .bottom {
    width: 90%;
  }

  .side-container .card-info h3 {
    color: var(--clr-primary-300);
  }

  .bg-container {
    display: block;
    background-color: #f8eded;
  }
  .intro-container {
    width: 601px;
    height: 200px;
  }

  .intro-container h3 {
    font-size: 2.5rem;
    display: block;
    width: 100%;
    position: relative;
  }

  .intro-container .line {
    height: 3px;
    width: 119px;
  }

  .intro-text > p {
    font-size: 25px;
  }

  .contact-page,
  .about-page,
  .home-page,
  .skill-page,
  .project-page {
    width: 72% !important;
  }

  .footer-container {
    display: inline-flex;
  }

  .skill-page,
  .about-page,
  .project-page,
  .contact-page,
  .home-page {
    position: relative;
    top: 0px;
    bottom: 0px;
    padding: 85px 5% 5% 5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
  }

  .home-page {
    overflow-y: unset !important;
  }

  .skill-page::-webkit-scrollbar,
  .about-page::-webkit-scrollbar,
  .project-page::-webkit-scrollbar,
  .contact-page::-webkit-scrollbar,
  .home-page::-webkit-scrollbar {
    display: none;
  }

  .home-page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeddb;
  }

  .skill-page {
    justify-content: initial;
  }

  .skills-carousel {
    margin: 250px 0 auto 0;
  }

  .skill-title {
    margin-top: 55px;
    margin-bottom: 0;
  }

  .linkedin-icon,
  .github-icon {
    color: var(--clr-primary-500);
  }
}

@media screen and (min-width: 1462px) {
  .skill-page .skill-title {
    margin: 55px 0;
  }
  .skill-page .skill-title::before {
    display: none;
  }
  .skill-page .card-container {
    display: inline-block;
    width: 100%;
    max-width: 720px;
    text-align: center;
  }

  .card-container .card {
    display: inline-block;
    height: 20rem;
    width: 12rem;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--sha--primary--blk);
    margin: 0 30px 30px 0;
    background-color: var(--clr-primary-300);
  }
  .skill-page .skills-carousel {
    display: none;
  }
}
