* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body ul {
  margin: 0;
  font-family: "Poppins", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Grid layout */

.container {
  display: grid;
  position: relative;
  height: 100vh;
  width: 95%;
  margin: auto;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 75px 11fr 01fr;
  grid-template-areas:
    "logo nav"
    "profile-image main"
    "copyright social";
}

.logo-container {
  grid-area: logo;
  position: relative;
}

.nav-container {
  position: relative;
  grid-area: nav;
}
.profile-image {
  grid-area: profile-image;
  border-style: solid;
  border-width: 1px;
}
.main {
  grid-area: main;
  border-style: solid;
  border-width: 1px;
}
.copyright {
  grid-area: copyright;
  border-style: solid;
  border-width: 1px;
}
.social {
  grid-area: social;
  border-style: solid;
  border-width: 1px;
}
/* Logo styles */
.logo-container {
  display: flex;
  text-align: center;
}

.logo-box {
  width: 75px;
  height: 75px;

  background: linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 9px;
  overflow: auto;
  font-family: 'Roboto Mono', monospace;
}

.nav-container {
  height: 100hv;
}
.menu-container {
  position: absolute;
  width: 50%;
  right: 0%;
}

ul li {
  display: inline;
  text-align: center;
}

span {
  display: inline-block;
  width: 20%;
  padding: auto;
  margin: 32px 0;
  position: abosolute;
  z-index: 2;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-container .animation {
  border-style: solid;
  border-width: 1px;
  z-index: 1;
  height: 30px;
  width: 20%;
  margin: -56px 0;
  background-color: #333;
  transition: 0.5s ease-in-out;
 
}

.about:hover ~ .animation {
  margin-left: 20%;
}
.skills:hover ~ .animation {
  margin-left: 40%;
}
.projects:hover ~ .animation {
  margin-left: 60%;
}
.contact:hover ~ .animation {
  margin-left: 80%;
}

.about:hover {
  color: #fff;
}
